* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.success-stories {

    text-align: center;
    background-color: #1d1a1b;
    color: #ffffff;
    text-transform: uppercase;
    padding: 25px 0;
    margin-bottom: 51px;
}

.image {
    float: left;
    width: 330px;
    height: 373px;
}


:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.slide {
    padding: 20px 60px;
}

.slider-box {
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
    height: 373px;
    margin: auto;
    padding: auto;
}

h2 {
    background-color: #ff0000;
    padding: 18px 0 18px 54px;
    font: 400 25px/30px Arial sans-serif;
    color: #ffffff;
}

.text-about p{
    margin-left: 50px;
    width: 90%;
    margin-top: 25px;
    font: 400 18px/26px Arial sans-serif;
}


.text-about {
    overflow: hidden;
    height: 373px;
    margin-left: 50px;
}

.owl-carousel .owl-nav button {
    background-color: red;
    position: absolute;
    font-size: 20px;
    top: 50%;
}
.owl-carousel .owl-nav button.owl-next:before {
    content: '>';
}
.owl-carousel .owl-nav button.owl-prev:before {
    content: '<';
}
.owl-carousel .owl-nav button.owl-next {
    right: 0;
}
.owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    font-size: 20px;
    font-weight: 700;
    color: red;

}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #000;
}
.owl-theme .owl-dots .owl-dot span {
    width: 4px;
    height: 4px;
    background: #000;
    margin: 5px 12px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: red;
    transform: scale(2);
}


